---
layout: archive
header:
  image: /assets/images/DSCF8449.JPG
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h3>
<p> I am a scientist interested in translational approaches bridging computational models and human imaging of healthy controls and patients, with a focus on:</p>
  <p style="margin-left: 40px"> 1) Common mechanisms across neuropsychiatric disorders (transnosographic approach)<br>
  2) Individual variability</p>
<p>I am also deeply interested in open access science and contributing to research reproducibility.<br>
<br>
Previously, I obtained a PhD in Neuroscience, with honors, from Lyon 1 University. My project was supervised by Dr MF Suaud-Chagny in the PSYR2 Team of
the <a href="https://crnl.univ-lyon1.fr/index.php/en">Lyon Neuroscience Research Center </a> (France).
The thesis work fit into a broad research axis intended to clarify the brain mechanisms underlying transcranial direct current stimulation (tDCS)
in healthy and clinical populations. More specifically, I investigated this question on a mechanistic level in relation to the impact of frontal tDCS montages
on the dopaminergic system, combining tDCS with several imaging techniques (e.g., PET, resting-state fMRI, ASL, DTI).<br>
</p>

<p>With this in mind, I am working as a Postdoctoral Associate in the <a href="https://medicine.yale.edu/lab/anticevic/"> Anticevic Lab</a> affiliated with the <a href="https://medicine.yale.edu/psychiatry/research/divisions/n3.aspx"> Division of Neurocognition, Neurocomputation & Neurogenetics (N3)</a> at Yale University, as of mid-February 2019 as a Postdoctoral Associate.
  </p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
