---
layout: archive
header:
  image: /assets/images/DSCF8449.JPG
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About Me" }}</h3>
<p> I am a research scientist interested in individualizing brain stimulation and neuroimaging.<br>
  With this and growing as a research scientist, my research focuses on translational approaches between computational models, healthy controls and patients, specifically focusing on:</p>
  <p style="text-indent: 40px"> 1) Common mechanisms across neuropsychiatric disorders (transnosographic approach)<br>
  2) Individualization of analyses</p>
<p>I am also deeply interested in open access science and contributing to research reproducibility.<br>
<br>
With this in mind, I am currently <b>looking for a Postdoctoral position</b>.<br>
Previously, I obtained a PhD in Neuroscience, with honors, from Lyon 1 University. My project was supervised by Dr MF Suaud-Chagny in the PSYR2 Team of the Lyon Neuroscience Research Center (France). The thesis work fit into a broad research axis intended to clarify the brain mechanisms underlying transcranial direct current stimulation (tDCS) in healthy and clinical populations. More specifically, I investigated this question on a mechanistic level in relation to the impact of frontal tDCS montages on the dopaminergic system, combining tDCS with several imaging techniques (e.g., PET, resting-state fMRI, ASL, DTI).
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
